#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 90px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: bold;
}

video {
  position: absolute;
  display: none;
}

.video1 #video1 {
  display: block;
}
.video2 #video2 {
  display: block;
}
.video1 #quote,
.video2 #quote {
  z-index: 1;
  color: white !important;
  background-color: black !important;
}
